<table class="table table-bordered all-games">
    <thead>
    <tr>
        <% allgames.headers.forEach(function(text) { %>
        <th><%= text %></th>
        <% }); %>
    </tr>
    </thead>
    <tbody>
    <%
        if(allgames.content && allgames.content.length > 0) {
            allgames.content.forEach(function(game) {
    %>
    <tr>
        <td><%= printGameID(game.PublicGame_ID) %></td>
        <td><%= game.beginPlayer + ', ' + game.Players %></td>
        <td><%= game.gameMode %></td>
        <%- printStatus(game) %>
        <td><%= game.Winner %></td>
    </tr>
    <%
            });
        } else {

        }
    %>
    </tbody>
</table>